{{#*inline "title"}}
Awards
{{/inline}}

{{#*inline "heading"}}
Awards
{{/inline}}

{{#*inline "content"}}
  <p>Here are some of my notable awards and achievements.</p>
    <br/>
    <!-- TODO: individual award hyperlinking -->
    {{#each awards}}
      <article class="award">
        <h2>{{this.title}}</h2>
        <h3>{{this.date}}</h3>
        <section>
          <p>{{{this.body}}}</p>
        </section>
        {{#if this.links }}
          {{#each this.links}}
            <a target="_blank" href="{{this.href}}">{{this.name}}</a>
          {{/each}}
        {{/if}}
      </article>
    {{/each}}
{{/inline}}
{{>partials/_base}}