{{#*inline "title"}}
Projects
{{/inline}}

{{#*inline "heading"}}
Projects
{{/inline}}

{{#*inline "head"}}
  <link rel="stylesheet" href="/static/styles/projects.css">
{{/inline}}

{{#*inline "content"}}
  <article class="main">
    {{#each categories.main}}
      <a href="/projects/{{id}}">
        {{!-- {{../prefix}} {{firstname}} --}}
        <section style="background-image:url({{thumbnail}});"></section>
        <h2>{{title}}</h2>
      </a>
    {{/each}}
  </article>
  <article class="other">
    {{#each categories.other}}
      <a href="/projects/{{id}}">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
      </a>
    {{/each}}
  </article>
{{/inline}}
{{>partials/_base}}