{{#*inline "title"}}
Projects
{{/inline}}

{{#*inline "heading"}}
Projects
{{/inline}}

{{#*inline "head"}}
  <link rel="stylesheet" href="/static/styles/project.css">
{{/inline}}

{{#*inline "post_nav"}}
  <button class="back" title="Back" onclick="history.back()">
    <img src="/static/img/back.svg" />
  </button>
{{/inline}}

{{#*inline "content"}}
  {{#with project}}
    {{#if thumbnail}}
      <a href="{{url}}"><img src="{{thumbnail}}" /></a>
    {{/if}}
    <hgroup>
      <h1><a href="/projects/{{id}}">{{title}}</a></h1>
      <p class="year">{{year}}</p>
      <p>{{description}}</p>
    </hgroup>
    <section class="description">
      {{{body}}}
    </section>
    <section class="links">
      {{#if url}}
        <a href="{{url}}" target="_blank">View Project</a>
      {{/if}}
      {{#if github}}
        <a href="{{github}}" target="_blank">Github Page</a>
      {{/if}}
    </section>
  {{/with}}
{{/inline}}
{{>partials/_base}}