{{#*inline "title"}}
Projects
{{/inline}}

{{#*inline "heading"}}
Projects
{{/inline}}

{{#*inline "head"}}
  <link rel="stylesheet" href="/static/styles/projects.css">
{{/inline}}

{{#*inline "content"}}
  {{#each categories}}
    {{#unless this.0.hidden}}
      <h4>{{this.0.name}}</h4>
      {{#if this.0.blurb}}
        <p>{{this.0.blurb}}</p>
      {{/if}}
    {{/unless}}
    <article class="{{this.0.name}}">
      {{#each this.1}}
        <a href="/projects/{{id}}">
          <h2>{{title}}</h2>
          <p>{{description}}</p>
        </a>
      {{/each}}
    </article>
  {{/each}}
{{/inline}}
{{>partials/_base}}