<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alan Panayotov</title>
  <link rel="stylesheet" href="{{app_css}}">
</head>

<body>
  <header>
    <h1>Projects</h1>
  </header>
  {{>partials/nav}}
  <main class="project">
    {{#with project}}
    <a href="{{url}}"><img src="{{thumbnail}}" /></a>
    <h1>{{title}}</h1>
    <section class="description">
      {{{description}}}
    </section>
    <section class="links"></section>
    {{/with}}
  </main>
  {{>partials/footer}}
</body>

</html>