<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alan Panayotov</title>
  <link rel="stylesheet" href="{{app_css}}">
</head>

<body>
  <header>
    <h1>Projects</h1>
  </header>
  {{>partials/nav}}
  <button class="back" title="Back" onclick="history.back()">
    <img src="/static/img/back.svg" />
  </button>
  <main class="project">
    {{#with project}}
      {{#if thumbnail}}
        <a href="{{url}}"><img src="{{thumbnail}}" /></a>
      {{/if}}
      <h1>{{title}}</h1>
      <i class="subtitle">{{description}}</i>
      <section class="description">
        {{{body}}}
      </section>
      <section class="links">
        {{#if url}}
          <a href="{{url}}" target="_blank">View Project</a>
        {{/if}}
        {{#if github}}
          <a href="{{github}}" target="_blank">Github Page</a>
        {{/if}}
      </section>
    {{/with}}
  </main>
  {{>partials/footer}}
</body>

</html>